.button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, #6360a2, #a27cac);
  color: #fff;
  text-transform: capitalize;
}

.input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgba(255, 255, 255, 0.267);
  border-right: none;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.input::placeholder {
  color: #e2e2e2;
}

.form {
  margin-bottom: 32px;
}
