.button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 0.685) 0%,
    rgba(154, 0, 250, 0.644) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background-color: #5a5b9c4d;
  color: #fff;
}

.input::placeholder {
  color: #e2e2e2;
}

.form {
  margin-bottom: 32px;
}
